#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer IDs

#define WINDOWS 0
#define WINDOWS_FN   1
#define MAC   2
#define MAC_FN   3
#define GALLIUM 4
#define GALLIUM_FN  5
#define UTILS 6

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;     // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
        winfn_mt: momentary_or_toggle_win_fn {
            // If held, momentary switch to layer 1 or double tap to toggle layer 1

            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 0>, <&tog 0>;
        };

        macfn_mt: momentary_or_toggle_mac_fn {
            // If held, momentary switch to layer 3 or double tap to toggle layer 3

            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 0>, <&tog 0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>; // Keys Q, S, Z
        };
    };

    macros {
        snap_win: snapshot_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LEFT_COMMAND &kp LEFT_SHIFT>;

            label = "SNAPSHOT_WIN";
        };

        snap_mac_clip: snapshot_mac_clip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_CONTROL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_COMMAND &kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "SNAPSHOT_MAC_CLIP";
        };

        snap_mac_file: snapshot_mac_file {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_COMMAND &kp LEFT_SHIFT>;

            label = "SNAPSHOT_MAC_FILE";
        };
    };

    // Bottom left key is the encoder click
    // Column 7 (middle column) is the joystick from the right half

    keymap {
        compatible = "zmk,keymap";

        //
        // Windows layout
        //

        Base {
            bindings = <
&kp ESC     &kp N1     &kp N2    &kp N3    &kp N4  &kp N5      &kp UP     &kp N6     &kp N7     &kp N8     &kp N9         &kp N0         &kp BSPC
&kp TAB     &kp Q      &kp W     &kp E     &kp R   &kp T       &kp DOWN   &kp Y      &kp U      &kp I      &kp O          &kp P          &kp RIGHT_BRACKET
&kp GRAVE   &kp A      &kp S     &kp D     &kp F   &kp G       &kp LEFT   &kp H      &kp J      &kp K      &kp L          &kp SEMI       &kp APOS
&kp LSHFT   &kp Z      &kp X     &kp C     &kp V   &kp B       &kp RIGHT  &kp N      &kp M      &kp COMMA  &kp DOT        &kp MINUS      &kp RSHIFT
&kp C_MUTE  &kp LCTRL  &kp LGUI  &kp LALT  &mo 1   &kp BSPC    &kp ENTER  &kp SPACE  &kp ENTER  &mo 2      &kp RIGHT_ALT  &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "Base";
        };

        //
        // Mac layout
        //
        //
        // Gallium layout for Windows
        //

        Function {
            bindings = <
&kp ESC  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &bt BT_SEL 0  &kp F6         &kp F7                &kp F8                 &kp F9            &kp F10    &kp F11
&trans   &trans  &trans  &trans  &trans  &trans    &trans        &trans         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans            &kp PLUS   &kp F12
&trans   &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 1  &kp PIPE       &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans            &kp RS(B)  &trans
&trans   &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 2  &kp LESS_THAN  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp GREATER_THAN  &trans     &trans
&trans   &trans  &trans  &trans  &trans  &trans    &trans        &trans         &trans                &trans                 &trans            &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
